<nav class="navbar navbar-default navbar-fixed-top" id="main-menu">
	<div class="container-fluid">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand">TOTAL MANAGEMENT APPLICATION</a>
        </div>

        <div class="navbar-collapse collapse" id="menu">
			<ul class="nav navbar-nav navbar-right" ng-repeat="pack in packed | orderBy: 'packed_sort'">

		      <li class="dropdown">
		      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">

		      	{{pack. packed_name}} <span class="caret"></span></a>
		      	<ul class="dropdown-menu">
		      		<li id="{{getmachinename(v.Template)}}" ng-repeat="(k, v) in pack.modules | orderBy: 'module_sort'"><a href="javascript:;" ng-click="get_content(v.Template, v.Name)">{{v.Name}}</a></li>
		      	</ul>
		      </li>

		    </ul>
		</div>

		    
</div>
</nav>

<div ng-include="'helper/alert/main.html'">
	
</div>

<div>
		<ul id="title-tab" class="nav nav-tabs">
	  		
		</ul>
	<div class="container-fluid">
		<div id="content-tab" class="tab-content">
		 	
		</div>
	</div>

</div>

<div ng-include="'helper/modal/main.html'">
	
</div>