<div class="table-responsive" ng-controller="update_controller" style="padding: 10px">
	<div class="well well-lg" ng-repeat="p in update_packed  | orderBy : 'Sort'"><p style="font-size: 20px; font-weight: bold"><span class="
glyphicon glyphicon-th-large"></span> {{p.packed_name}} </p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên Module</th>
					<th>Phiên bản</th>
					<th>Giao diện</th>
					<th>Quyền hạn</th>
					<th>Trạng thái</th>
					<th>Thứ tự</th>
				</tr>
			</thead>
			<tr ng-repeat="(k,v) in p.modules">
				<td style="width: 5%">{{$index + 1}}</td>
				<td style="width: 20%">{{v.Name}}</td>
				<td style="width: 10%">{{v.Version}}</td>
				<td style="width: 20%">{{v.Template}}/template.html</td>
				<td style="width: 15%">
					<select ng-model="selectOption(update_permission,v.Permission)" ng-options="val.permission_name for (key,val) in update_permission track by val.permission_id">
					</select>
				</td>
				<td style="width: 15%" ng-bind-html="update_export_checkbox(v.Status, v.Readonly, v.ID) | unsafe">
					
				</td>
				<td style="width: 15%; color: green; font-size: 24px; cursor: pointer;"><span class="glyphicon glyphicon-upload"></span> <span class="glyphicon glyphicon-download"></span></td>
			</tr>
		</table>
	</div>

	<div style="text-align: center"><button ng-click="save_change()" class="btn btn-default">Lưu thay đổi</button> <button ng-click="refresh_code()" class="btn btn-default">Làm mới script</button> <button ng-click="refresh_module()" class="btn btn-default">Làm mới module</button></div>

</div>