$bg : #f2f2f2;
$line_color : #dadada;
$border : 1px solid #dadada;
$color1 : #f0c9c9;

body{
	width: 100%;
	padding-top: 55px;
}

#main-menu {
	background-color : #f2f2f2;
}

table {
	
	border : $border;
	& td{
		padding: 4px;
		border : $border;
		vertical-align: middle!important;
	}
	
	
}


#title-tab {
	& .glyphicon-remove{
		font-size: 10px;
		margin-left: 10px;
		cursor: pointer;
		&:hover {
			font-weight: bolder;
		}
	}
}
